<div *ngIf="posts.length; else loading">
  <div class="form-control">
    <input type="text" placeholder="search" [(ngModel)]="searchStr">
  </div>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Author</th>
      <th>Title</th>
      <th>Date</th>
      <th>Event</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts | searchPosts: searchStr; let idx = index">
      <td>{{idx + 1}}</td>
      <td>{{post.author}}</td>
      <td>{{post.title}}</td>
      <td>{{post.date | date:'medium':null:'en'}}</td>
      <td>
        <button class="btn"
                [routerLink]="['/admin', 'post', post.id, 'edit']"
        >Open
        </button>
        <button (click)="remove(post.id)">remove</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
